.gradle
/local.properties
/.idea
.DS_Store
/build
/calendar/build
/calendar/src/main/java/build
/calendar/src/main/resources/build
/calendarCommon/build
/chips/build
/colorpicker/build
/common/build
/datetimepicker/build
/timezonepicker/build
/captures
